[default]
secret_key = sample_secret_key
allowed_hosts = *

[locate_api_database]
database_name = locate
database_host = localhost
database_port =
database_user = smarthealth_ai_user
database_password = password

[foursquare_app_info]
fs_client_id = 'client_id_foursquare_long_cryptic_string'
fs_client_secret = 'client_secret_id_foursquare_long_cryptic_string'

[uber_app_info]
uber_client_id = "client_id_uber_long_cryptic_string"
uber_client_secret = "client_secret_uber_long_cryptic_string"
uber_server_token = "server_token_uber_long_cryptic_string"
