[default]
secret_key = sample_secret_key
allowed_hosts = *

[locate_api_database]
database_name = locate
database_host = localhost
database_port =
database_user = smarthealth_ai_user
database_password = password

[foursquare_app_info]
fs_client_id = 'IWWYZEOSLUQLHTS1Z0GFJX0MA1BYNOH01ZXCGUL2GMESDKCC'
fs_client_secret = 'VM3FMEX0KL5E1ORVEWITGVO3Q1C0A4AAUJ20SYX4ZFDCFKP1'

[uber_app_info]
uber_client_id = "8sbo_jWNFf5NHhxB9ABw3Qml5CRZxxM9"
uber_client_secret = "ecauL2j-zicqdTRJv-D68xe3hFeQjzOivoIy2QVV"
uber_server_token = "yTNrS4-Jz52SNiC1_ZvMWjICAEsrJSlwcwsCYf1s"
